body{
    margin: 0;
    padding: 0;
}
nav{
    /* display: flex; */
    top: 0;
    position: sticky;
    background-color: orange;
}
#cont{
    display: flex;
    list-style-type: none;
    margin: 0;
}
a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}
#drop1{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: black;
    position: absolute;
    display: none;
}
#one:hover #drop1{
    display: block;
}
#drop2{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: black;
    position: absolute;
    display: none;
}
#two:hover #drop2{
    display: block;
}
#drop3{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: black;
    position: absolute;
    display: none;
}
#three:hover #drop3{
    display: block;
}
a:hover{
    background-color: pink;
    color: red
}