h1{
    color: yellow;
}
h3,h4{
    color: blue;
}
.ind
{
    color: blue;
}
.india{
    color: red;
}
.dhoni{
    font-size: 80px;
}
#msd{
    color: brown;
}
*{
    color: aqua;
}